* {
    margin: 0;
    padding: 0;
}

html {

    background: #1e1a20;

}   

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.change_level_button {

    color: black;
    background-color: white;
}

.interface_container
{
    position: absolute;
    height: 100vh;
    width: 100%;

}

.level_title {
    color: white;
}

